<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VkAnalytics</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/0a5bd91fba.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,700,900" rel="stylesheet">

  <link href="https://raw.githack.com/AlexanderGroshev/VkAnalytics/master/main.css" rel="stylesheet">







  <style>
   .stroke {
    font-family: 'Noto Sans', sans-serif;
    text-shadow: black 0 0 8px;
   }
  </style>

</head>

<body>

<nav class="navbar fixed-top navbar-dark" style="background-color: #141617;">
<div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="home">VkAnalytics</a>
      </div>
      <div class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="home">HOME</a>
          </li>
          <li><a href="team">TEAM</a>
          </li>
        </ul>
      </div>
</div>
</nav>



  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-sm-22 col-lg-offset-5">
          <h1 class="stroke" style="color:white;"> <b>VkAnalytics</b> </h1>
          <h2 class="stroke" style="color:white;"> Аналитика аккаунтов </h2>
            <h2 class="stroke" style="color:white;"> пользователей и сообществ</h2>
        </div>

      </div>
    </div>
  </div>

  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-sm-3">
        <i class="fa fa-line-chart"></i>
        <h4>Анализ аккаунтов</h4>
        <p>Данный модуль позволяет получить ифнормацию о лайках и комментариях пользователя</p>
        <a href="module1">
        <button type="button" class="btn btn-outline-dark"> Перейти</button>
        </a>
      </div>

      <div class="col-sm-3">
        <i class="fa fa-laptop"></i>
        <h4>Кластеризация групп</h4>  
<p>Данный модуль предоставляет возможности к аналитике подписчиков сообщества.</p>
 <a href="module2">
        <button type="button" class="btn btn-outline-dark"> Перейти</button>
        </a>
      </div>

      <div class="col-sm-3">
        <i class="fa fa-users"></i>
        <h4>Сравнение аккаунтов</h4>
        <p>Данный модуль предоставляет инструмент сравнения нескольких аккаунтов по некоторым критериям </p>
        <a href="module3">
        <button type="button" class="btn btn-outline-dark">Перейти</button>
        </a>
      </div>


      <div class="col-sm-3">
        <i class="fa fa-search"></i>
        <h4>Поиск в сообществе</h4>
        <p>Данный модуль предоставляет инструмент поиска людей в сообществе по некоторым критериям</p>
        <p></p>
                <a href="module4">
        <button type="button" class="btn btn-outline-dark">Перейти</button>
        </a>
      </div>
    </div>
    <br>
    <br>
  </div>


  <div id="bott">
    <div class="container">
      <div class="ttt">
        Проект 19277 Статистический анализ аккаунтов в социальных сетях
      </div>
    </div>
  </div>

</body>
</html>
